/*temp*/
body{
    background-color: black;
}

.bou{
    border: solid 2px hotpink;
}

/*mainpage*/

.mainpage{
    background: url(mainbg.png) no-repeat;
    background-size: cover;
}
.collapse{
    background: rgba(0,0,0,0.7); 
}

.nav-link, nav a{
    color: #9aae6cff;
    margin: 5px 30px 0;
    font-size: 17px;
    font-weight: 500;
}

.pp{
    color: azure;
    font-size: 20px;
    padding: 5px;
}

nav ul{
    padding: 0 50px;
}

h1{
    margin: 70px 0;
    color: #9aae6cff; 
    font-weight: 200;
    font-family: serif;
}

h1 span{
    font-weight: 700;
}

.mainpage .main{
    background: rgba(0,0,0,0.7);
    margin: 10px 10px 30px 20px;
    text-align:  center;
}

.main button {
    background: rgba(154,174,108,0.4);
    font-size: 20px;
    font-family: arial;
    padding: 10px 15px;
    border: solid 1px #9aae6cff;
    margin-bottom: 100px;
}

.main button:hover{
    background: rgba(154,174,108,0.6);
}

h2,h3{
    color: #9aae6cff;
    font-family: 'Sevillana', cursive;
    font-weight: 800;
    font-size: 25px;
    padding-top: 50px;
    margin: -3px 0 ;
}

p{
    color: azure;
    font-size: 15px;
    font-weight: 400;
}

/*page1*/

.page1{
    background: url(lenbg.png) no-repeat;
    background-size: cover;
}
.page1 .con{
    margin: 120px 0; 
}

.page1 h2{
    margin: 0 0 20px;
    font-size: 40px;
}

/*page2*/

.fa-seedling{
    font-size: 25px;
    color:aliceblue;
}

.longbg{
    background: url(longbg.png) repeat-y;
    background-size: contain;
}

.cook{
    background: rgba(62,70,43,0.8);
    padding: 50px;
}

.cook h2{
    padding-top: 10;
}

.page2 .con{
    background: rgba(62,50,54,0.9);
    margin: 70px auto;
    text-align: center;
    width: 90%;
}

.lead{
    font-size: 18px;
    margin-bottom: 60px;
}

.car{
    padding-bottom: 60px;
}   

.carousel{
    width: 300px;
    height: 300px;
    margin: 10 auto;
}

.car .row{
    margin: 0 auto;
}

.cdet{
    height: 100%;
    padding: 50px;
}

.cdet h3{
    color: #9aae6cff;
    margin: 10px;
    padding-top: 20;
}

.cdet p{
    padding: 10px 20px;
    margin-bottom: -1px;
}

.page3 h3{
    margin-bottom: 5px;
}

.page3 .h1{
    padding: 10px;
    text-align: center;
    background: rgba(62,70,43,0.8);
    margin-bottom: 200px;
}

.h1 p{
    margin: 30px auto;
    width: 80%;
}

.h22{
    margin-top: 3px;
    background: rgba(154,174,108,0.4);
    padding-bottom: 50px;

}

.h2{
    margin-top: 3px;
    background: rgba(62,50,54,0.8);
    padding-bottom: 50px;

}

ul{
    list-style-type: none;
}

.h3{
    margin: 600px 0 0;
    padding: 20px 0 0px;
}

#contact{
    padding-bottom: 600px;
}

.h3 label, .h3 input{
    width: 90%;
    height: auto;
    padding: 4px 5px;
    color: azure;
    margin: 10px 0 5px;
}

.h3 label{
    font-size: 15px;
    text-align: left;
}

.h3 input{
    background-color: black;
    border: solid 2px azure;  
    margin: 5px auto;
}

.h3 button{
    margin-top: 20px;
    background-color: black;
    border: solid 2px azure;   
    border-radius: 7px;
    color: azure;
    padding: 5px 50px;
    font-size: 20px;
}

.h3 button:hover{
    background: rgba(255,255,255,0.4)
}

.card p, .card a{
    font-size: 15px;
    color: darkslategrey;
}

.card a{
    border-bottom: solid 4px #9aae6cff;
    padding-bottom: 3px;
    font-family: monospace;
}

h5{
    font-size: 13;
}

.card{
    margin: 20px auto;
    padding: 
}

.sp{
    font-weight: 900;
    font-family: 'Sevillana', cursive;
    font-size: 20px;
}

.p p{
    text-align: center;
    color: #9aae6cff;
}

.ic{
    width: 40px;
    height: 40px;
    background-color: azure;
    text-align: center;
    padding: 9px;
    border-radius: 40px;
    margin: 0 0 40px;
}

i{
    font-size: 23px;
}

.p1{
    width: 70%;
    margin: 0 auto;
}
.p2{
    text-align: center;
    margin: 0 auto;
    color: azure;
}

.p2 ul{
    padding: 0;
}

.page4{
    margin-bottom: 30px;
}

.book{
    background: rgba(62,50,54,0.7);
    padding-bottom: 40px;
}

.fa-fish{
    color:lightpink;
    
}
